

body {
    background-color:white;
    font-family: "Inter";    
}

.buttons{
    border-radius: 40px;
}

.logos{
    border-radius: 20px;
}

.myfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    align-content: center;
    font-size: small;
  }


